{% extends "layouts/vol-layout.html" %}

{% block contentInner %}
  <div class="container-outer">
    <div class="container">
      <h2>My Search Preferences</h2>
        <form action="/filters" method="post" id="filters-form">
          <div class="panel panel-default">
            <div class="panel-body">

                  <div class="form-group">
                    <label for="category">Show me opportunities related to:</label>
                    <div class="checkbox">
                    <label>
                      <input id="all" type="checkbox" name="category" value="all" checked="checked">Any Category
                    </label>
                    </div>
                      {% for key, value in categories.items() %}
                      <div class="checkbox">
                        <label>
                          <input id="{{key}}" type="checkbox" name="category" value="{{key}}">{{value}}
                        </label>
                      </div>
                      {% endfor %}
                  </div>

                  <div class="form-group">
                    <label for="available">On any of these days:&nbsp;</label>
                    <table class="table table-bordered table-condensed days-table text-center">
                      <thead>
                        <tr class="text-center">
                          <td class="text-center">Sun</td>
                          <td class="text-center">Mon</td>
                          <td class="text-center">Tue</td>
                          <td class="text-center">Wed</td>
                          <td class="text-center">Thu</td>
                          <td class="text-center">Fri</td>
                          <td class="text-center">Sat</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Sunday" checked="checked"></td>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Monday" checked="checked"></td>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Tuesday" checked="checked"></td>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Wednesday" checked="checked"></td>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Thursday" checked="checked"></td>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Friday" checked="checked"></td>
                          <td><input id="sun" type="checkbox" name="availableDays" value="Saturday" checked="checked"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label for="distance">Within:</label>
                        <select name="distance" id="distance" class="form-control" >
                          <option value="all" selected="selected">Any Distance</option>
                          <option value=1>1 Mile</option>
                          <option value=2>2 Miles</option>
                          <option value=5>5 Miles</option>
                          <option value=10>10 Miles</option>
                          <option value=15>15 Miles</option>
                          <option value=20>20 Miles</option>
                          <option value=30>30 Miles</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label for="zipcode">Of zip code:</label>
                        <input name="zipcode" class="form-control" id="zipcode" type="text" placeholder="Zip Code" maxlength="5" pattern="[0-9]{5}" title="Please enter exactly 5 numerical digits." >
                      </div>
                    </div>
                  </div>
                  <br />

              <div class="text-center">
                <button type="submit" form="filters-form" value="Sign Up" class="btn btn-primary">Browse Opportunities</button>
              </div>
            </div>
          </div>

          
        </form>

    </div>
  </div>
{% endblock %}     