{% extends "layouts/vol-layout.html" %}

{% block contentInner %}
  <div class="container-outer">
    <div class="container">
      <div class="row opp-header opp-header--{{ opp.category_class }}">
        <h1 class="text-center">{{ opp.title }}</h1>
        <h3 class="text-center">{{ opp.owner.orgName }}</h3><br><br><br>
        <div class="row">
          <div class="col-xs-6"> 
            <h4 class="text-center">{{ opp.address }}</h4>
            <h4 class="text-center">{{ opp.city }},&nbsp;{{ opp.state }}&nbsp;{{ opp.zipcode }}</h4>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center">November 9, 6:00PM - 7:30PM</h4>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <p><strong>Location:&nbsp;</strong>{{ opp.address }},&nbsp;{{ opp.city }},&nbsp;{{ opp.state }}&nbsp;{{ opp.zipcode }}</p>
        <p><strong>Organization website:&nbsp;</strong><a href={{opp.owner.url}}>{{opp.owner.url}}</a></p>
        <p><strong>When:&nbsp;</strong>November 9, 6:00PM - 7:30PM</p>
        <p> <strong>About:&nbsp;</strong>{{ opp.description }}</p>
        <p><strong>Next steps:&nbsp;</strong>{{ opp.nextSteps }}</p>
      </div>
      <div class="row">
        <div class="text-center">
          <div class="btn-group" role="group" aria-label="Navigate opportunity pages">
            <a class="btn btn-default" href="" role="button">Skip&nbsp;
              <div class="glyphicon glyphicon-forward"></div>
            </a>
            <a class="btn btn-default" href="./filters" role="button">Update Search&nbsp;
              <div class="glyphicon glyphicon-search"></div>
            </a>
            <a class="btn btn-success" href="" role="button">Save&nbsp;
              <div class="glyphicon glyphicon-pushpin"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}     