{% extends "layouts/vol-layout.html" %}

{% block contentInner %}
  <div class="container-outer">
    <div class="container">
      <div class="row opp-header opp-header--hunger">
        <h1 class="text-center">Opportunity Title</h1>
        <h3 class="text-center">Organization Name</h3><br><br><br>
        <div class="row">
          <div class="col-xs-6"> 
            <h4 class="text-center">1234 NW Main St. </h4>
            <h4 class="text-center">Portland, OR 97000</h4>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center">November 9, 6:00PM - 7:30PM</h4>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <p><strong>Location:&nbsp;</strong>1234 NW Main St. Portland, OR 97000</p>
        <p><strong>Organization website:&nbsp;</strong><a href="http://google.com">http://google.com</a></p>
        <p><strong>When:&nbsp;</strong>November 9, 6:00PM - 7:30PM</p>
        <p> <strong>About:&nbsp;</strong>Oregon Food Bank volunteers contribute to our mission in many valuable ways. Volunteer opportunities at our Portland and Beaverton locations include: repackaging food, leading nutrition education classes, maintaining our learning gardens, helping out in our offices, lending a hand at events, and more! Most volunteer opportunities are 2-3 hours in length and do not require a regular commitment.</p>
        <p><strong>Next steps:&nbsp;</strong>If you're interested, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusantium ad velit iure adipisci necessitatibus eos assumenda sequi aliquam quae repellendus deleniti optio quos reiciendis dignissimos, in distinctio pariatur blanditiis eaque vero nisi illo labore recusandae incidunt quasi. Possimus, asperiores accusamus molestiae blanditiis, nesciunt deleniti beatae, ea error illo consequatur libero numquam ipsam sit eligendi quaerat et reprehenderit incidunt tenetur alias? Perferendis doloremque, aperiam quibusdam inventore iure officia? Enim dolore sunt tempore officia accusantium animi, sed quis nobis aut delectus, mollitia quisquam error ipsa quo eligendi rem. Ab doloribus ipsa minima quasi culpa voluptate asperiores dolorem. Rerum possimus voluptatum reiciendis!</p>
      </div>
      <div class="row">
        <div class="text-center">
          <div class="btn-group" role="group" aria-label="Navigate opportunity pages">
            <a class="btn btn-default" href="#" role="button">Skip&nbsp;
              <div class="glyphicon glyphicon-forward"></div>
            </a>
            <a class="btn btn-default" href="./filters" role="button">Update Search&nbsp;
              <div class="glyphicon glyphicon-search"></div>
            </a>
            <a class="btn btn-success" href="#" role="button">Save&nbsp;
              <div class="glyphicon glyphicon-pushpin"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<h1>{{ opp.title }}</h1>

{% endblock %}     