{% extends "layouts/org-layout.html" %}

{% block contentInner %}
  <div class="container-outer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 centered-form">
          <h2>Post a New Opportunity</h2>
          <hr />
          <form action="/org/add" method="POST">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="title">
                  <h3>Title</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="title" type="text" name="title" maxlength="120" required>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="category" >
                  <h3>Category</h3>
                </label>
                <p class="help-block">Choose the one category that best fits this opportunity.</p>
              </div>
              <div class="col-xs-12 col-sm-8">
                {% for key, value in categories.items() %}
                <div class="radio">
                  <label>
                    <input id="{{key}}" type="radio" name="category" value="{{key}}" required>{{value}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="date">
                  <h3>Flexible Schedule?</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="flexible" name="flexible" type="checkbox" value="">
                    Yes, please display "Flexible schedule" for this post instead of a specific date and time.
                  </label>
                </div>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="date">
                  <h3>Date</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="date" name="date" type="date" required>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="startTime">
                  <h3>Start Time</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="startTime" type="time" name="startTime" value="12:00" required>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="endTime">
                  <h3>End Time</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="endTime" type="time" name="endTime" value="12:30" required>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="address">
                  <h3>Street Address</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="address" type="text" name="address" maxlength="120" required>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="city">
                  <h3>City</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="city" type="text" name="city" maxlength="120" required>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="state">
                  <h3>State</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <select class="form-control" id="state" name="state">
                  {% for state in states %}
                    {% if state.abbreviation == "OR" %}
                      <option value="{{state.abbreviation}}" selected="selected">{{state.name}}</option>
                    {% endif %}
                    {% if state.abbreviation != "OR" %}
                      <option value="{{state.abbreviation}}">{{state.name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="zipCode">
                  <h3>Zip Code (5 Digits)</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="zipCode" type="text" name="zipcode" maxlength="5" required pattern="[0-9]{5}" title="Please enter exactly 5 numerical digits.">
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="description">
                  <h3>Description</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <textarea class="form-control" id="description" name="description" maxlength="1000" rows="6" required></textarea>
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="nextSteps">
                  <h3>Next Steps</h3>
                </label>
                <p class="help-block">What should an interested volunteer do to help with this opportunity?</p>
              </div>
              <div class="col-xs-12 col-sm-8">
                <textarea class="form-control" id="nextSteps" name="nextsteps" maxlength="1000" rows="6" required></textarea>
              </div>
            </div>
            <br />
            <br />

            <div class="row">
              <div class="text-center">
                <input type="submit" class="btn btn-primary" role="button" value="Submit Opportunity" />
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %} 