{% extends "layouts/org-layout.html" %}

{% block contentInner %}
  <div class="container-outer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h2>Post a New Opportunity</h2>
          </div>
          <div class="row">
            <form action="/org/add" method="POST">
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" name="title" maxlength="120">
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input class="form-control" id="date" name="date" type="date" required>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <input class="form-control" id="startTime" type="time" name="startTime" value="12:00">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="endTime">End Time</label>
                    <input class="form-control" id="endTime" type="time" name="endTime" value="12:30">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="address">Street Address</label>
                <input class="form-control" id="address" type="text" name="address" maxlength="120" required>
                <div class="row">
                  <div class="col-xs-4">
                    <label for="city">City</label>
                    <input class="form-control" id="city" type="text" name="city" maxlength="120">
                  </div>
                  <div class="col-xs-4">
                    <label for="state">State</label>
                    <input class="form-control" id="state" type="text" name="state" maxlength="2">
                  </div>
                  <div class="col-xs-4">
                    <label for="zipCode">Zip Code</label>
                    <input class="form-control" id="zipCode" type="text" name="zip" maxlength="5">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <p class="help-block">Choose the one category that best fits this opportunity.</p>
                {% for category in categories %}
                <div class="radio">
                  <label>
                    <input id={{category}} type="radio" name="category" value={{category}}>{{category}}
                  </label>
                </div>
                {% endfor %}
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" maxlength="1000" rows="5"></textarea>
              </div>
              <div class="form-group">
                <label for="nextSteps">Next Steps</label>
                <textarea class="form-control" id="nextSteps" name="nextsteps" maxlength="1000" rows="5"></textarea>
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary" role="button" value="Submit Opportunity" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 