{% extends "layouts/org-layout.html" %}

{% block contentInner %}
  <div class="container-outer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h2>Edit Opportunity Post</h2>
          </div>
          <div class="row">
            <form>
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" maxlength="120" name="title" value="{{opp.title}}">
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input class="form-control" id="date" type="date" name="date" value="{{event_date}}">
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <input class="form-control" id="startTime" type="time" name="startTime" value="{{time_start}}">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="endTime">End Time</label>
                    <input class="form-control" id="endTime" type="time" name="endTime" value="{{time_end}}">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="address">Street Address</label>
                <input class="form-control" id="address" type="text" maxlength="120" name="address" value="{{opp.address}}">
                <div class="row">
                  <div class="col-xs-4">
                    <label for="city">City</label>
                    <input class="form-control" id="city" type="text" maxlength="120" name="city" value="{{opp.city}}">
                  </div>
                  <div class="col-xs-4">
                    <label for="state">State</label>
                    <input class="form-control" id="state" type="text" maxlength="2" name="state" value="{{opp.state}}">
                  </div>
                  <div class="col-xs-4">
                    <label for="zipCode">Zip Code</label>
                    <input class="form-control" id="zipCode" type="text" maxlength="5" name="zipcode" value="{{opp.zipcode}}">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <p class="help-block">Choose the one category that best fits this opportunity.</p>
                {% for key, value in categories.items() %}
                <div class="radio">
                  <label>
                    <input id="{{key}}" type="radio" name="category" value="{{key}}">{{value}}
                  </label>
                </div>
                {% endfor %}
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" maxlength="1000" rows="5" name="description" value="{{opp.description}}">{{opp.description}}</textarea>
              </div>
              <div class="form-group">
                <label for="nextSteps">Next Steps</label>
                <textarea class="form-control" id="nextSteps" maxlength="1000" rows="5" name= "nextSteps" value="{{opp.nextSteps}}">{{opp.nextSteps}}</textarea>
              </div>
              <div class="text-center">
                <a class="btn btn-primary" href="./opportunities" role="button">Update</a>
                <a class="btn btn-danger" href="./opportunities" role="button">Delete Post&nbsp;
                  <div class="glyphicon glyphicon-remove-sign"></div>
                </a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 