{% extends "layouts/base.html" %}

{% block headContent %}
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="649609603099-g73psa76kgviat4mdh2ctt1pk8he11bb.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block content %}

<div class="alert-container"></div>
<div class="container-outer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="pull-right" href="/">Return to homepage</a>
      </div>
    </div>
    <div class="row">
      <h2>Organization Sign-Up</h2>
    </div>

    <!-- Google Sign-In button, controlled from Google's platform.js script -->
    <div class="g-signin2" data-onsuccess="onSignIn" redirect-uri="signinCallback" data-theme="dark"></div>
    <a href="/" id="signOut">Sign out</a>
  </div>
</div>

</body>
{% endblock %} 

{% block scriptContent %}
  <script src="/static/js/auth.js"></script>
{% endblock %}