{% extends "layouts/base.html" %} 

{% block headContent %}
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="649609603099-g73psa76kgviat4mdh2ctt1pk8he11bb.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script> 
{% endblock %} 

{% block content %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/static/images/voluntr_logo_small.png" /> Voluntr
      </a>
    </div>
  </div>
</nav>

<div class="alert-container"></div>
<div class="container-outer">
  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12">
        <h2>Organization Sign-Up</h2>
      </div>
    </div>

    <!-- Google Sign-In button, controlled from Google's platform.js script -->
    <div class="center g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-longtitle="true" data-height="50" data-width="300"></div>

    <!-- Only visible after successful sign-in to existing account: -->
    <br />
    <div class="row redirect-row hidden">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="well">
          <p class="lead">Login successful, loading homepage...</p>
        </div>
      </div>
    </div>

    <!-- Only visible after connecting to Google without a Voluntr account: -->
    <div class="row signup-row hidden">
      <div class="col-xs-12 col-md-10 col-md-offset-1 centered-form">
        <p class="lead text-center">Successfully connected to Google! We just need to know a few things to create your Voluntr account.</p>
        <div class="well">          
          <form action="/org/signup" method="post" id="signup-form">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="orgName">
                  <h3>Organization Name</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="orgName" name="orgName" type="text" maxlength="120" required="required">
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="url">
                  <h3>Organization Website</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="url" name="url" type="text" maxlength="200" required="required">
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="contactName">
                  <h3>Contact Name</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="contactName" name="contactName" type="text" maxlength="120" required="required">
              </div>
            </div>
            <br />
            <br class="hidden-xs" />

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <label for="email">
                  <h3>Contact Email</h3>
                </label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <input class="form-control" id="email" name="email" type="text" maxlength="200" required="required">
              </div>
            </div>
            <br />
            <br class="hidden-xs" />
            
            <!-- JavaScript will add the OAuth token to this hidden input: -->
            <input type="hidden" id="token" name="token">
            <div class="text-center">
              <button type="submit" form="signup-form" value="Sign Up" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
          <a href="/" class="signOutLink">Switch Google accounts</a>
        </div>
      </div>
    </div>
    
    <br />
    <div class="row">
      <div class="text-center">
        <h3>A Platform For Nonprofits</h3>
      </div>
    </div>
    <br>
    <div class="row center">
      <div class="text-center col-xs-12 col-md-4">
        <div class="icon-signup">
        </div>
        <br>
        <p class="text-center lead">Simple
          <br>Sign-Up</p>
      </div>
      <div class="text-center col-xs-12 col-md-4">
        <div class="icon-form">
        </div>
        <br>
        <p class="text-center lead">Post Volunteer
          <br>Opportunities</p>
      </div>
      <div class="text-center col-xs-12 col-md-4">
        <div class="icon-voluntr">
        </div>
        <br>
        <p class="text-center lead">Voluntr!</p>
      </div>
      <br />
      
    </div>
  </div>

  </body>
  {% endblock %} 
  {% block scriptContent %}
    <script src="/static/js/auth.js"></script> 
  {% endblock %}