<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Autour+One" rel="stylesheet">
    <link rel="stylesheet" href="/static/build/bundle.css">

    {% block headContent %}

    {% endblock %}
  </head>
  <body>

    {% block content %}
    
    {% endblock %}

    <script src="/static/build/vendor.js"></script>
    <script src="/static/build/bundle.js"></script>    

    {% block scriptContent %}
    
    {% endblock %}
  </body>
</html>