<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Autour+One" rel="stylesheet">

    {% if is_production %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" crossorigin="anonymous">
    {% endif %}

    <link rel="stylesheet" href="/static/build/bundle.css">

    {% block headContent %}

    {% endblock %}
  </head>
  <body>

    {% block content %}
    
    {% endblock %}
    
    {% if is_production %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
    {% else %}
      <script src="/static/build/vendor.js"></script>
    {% endif %}
    
    <script src="/static/build/bundle.js"></script>    

    {% block scriptContent %}
    
    {% endblock %}
  </body>
</html>