body {
  padding-bottom: 15px;
}

.panel .btn {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 10px;
  }

  .container-outer {
    margin: 0 10px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
}

.alert-container .alert {
  margin: 10px;
}

/*Background overlay effect for text on photos:*/

.jumbotron-index {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/diego-ph-254975.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding: 30px 15px;
}

.opp-header {
  color: #fff;
  min-height: 300px;
  padding: 0px 15px;
  position: relative;
}

.opp-header--animals {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/animals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--arts_culture {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/arts_culture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--community {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/community.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--disabilities {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/disabilities.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--education_lit {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/education_lit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--environment {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/environment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--health_med {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/health_med.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--houseless {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/houseless.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--hunger {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/hunger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--kids_youth {
  background: linear-gradient(rgba(20,20,20,.6), rgba(20,20,20,.6)), url("../images/kids_youth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
