body {
  padding-bottom: 15px;
}

h2 {
  margin-top: 10px;
}

p.help-block {
  margin-top: 0;
}

.navbar .navbar-brand {
  position: relative;
  bottom: 3px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Autour One',Calibri,Candara,Arial,sans-serif;
  color: #eee;
}

.navbar-brand img {
  height: 30px;
  display: inline;
  margin-right: 5px;
  position: relative;
  bottom: 3px;
}

.panel .btn {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 10px;
  }

  .navbar-brand {
    font-size: 18px;
  }

  .container-outer {
    margin: 0 10px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
}

.alert-container .alert {
  margin: 10px;
}

.opp-nav-buttons {
  margin: 5px 0;
}

/*Uses code from Bootstrap's btn-justified class, only on small screens:*/
@media (max-width: 768px) {
  .opp-nav-buttons {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
  }
  .opp-nav-buttons > .btn,
  .opp-nav-buttons > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
  }
  .opp-nav-buttons > .btn-group .btn {
    width: 100%;
  }
  .opp-nav-buttons > .btn-group .dropdown-menu {
    left: auto;
  }
}

.days-table {
  max-width: 400px;
}

/*Tweaks to fit things onto very small screens:*/
@media (max-width: 400px) {
  table.table.days-table thead td {
    padding-left: 0;
    padding-right: 0;
  }

  select.form-control {
    padding: 0px;
  }
}

/*~~~~~~~~Flexbox layout for Opp Headers:~~~~~~~~~~~*/

.opp-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.opp-header__top {
  order: 0;
  flex: 2 2 auto;
  align-self: stretch;
}

.opp-header__bottom {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.opp-header__bottom-left, .opp-header__bottom-right {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.opp-header__bottom-left {
  margin-right: 8px;
}

.opp-header__bottom-right {
  margin-left: 8px;
}

/*~~~~~~~~~~~End flexbox for Opp Headers~~~~~~~~~~~*/

/*Background overlay effect for text on photos:*/

.jumbotron-index {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../images/diego-ph-254975.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding: 30px 15px;
}

.opp-header {
  color: #fff;
  min-height: 300px;
  padding: 0px 15px;
  position: relative;
}

.opp-header * {
  font-weight: bold;
}

.opp-header h4 {
  text-transform: uppercase;
  margin-top: 3px;
  margin-bottom: 0;
}

.opp-header--animals {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/animals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--arts_culture {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/arts_culture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--community {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/community.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--disabilities {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/disabilities.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--education_lit {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/education_lit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--environment {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/environment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--health_med {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/health_med.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--houseless {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/houseless.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--hunger {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hunger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opp-header--kids_youth {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/kids_youth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

