/*Index splash image styling:*/

.jumbotron-home {
  background: url("/static/images/splash_800x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding: 15px;
}

@media (max-width: 768px) {
  .jumbotron-home {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .jumbotron-home {
    height: 200px;
  }
}