/*Style the buttons used for navigating between opportunities*/

.opp-nav-buttons {
  margin: 5px 0;
}

/*Uses code from Bootstrap's btn-justified class, but only on small screens:*/
@media (max-width: 768px) {
  .opp-nav-buttons {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
  }
  .opp-nav-buttons > .btn,
  .opp-nav-buttons > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
  }
  .opp-nav-buttons > .btn-group .btn {
    width: 100%;
  }
  .opp-nav-buttons > .btn-group .dropdown-menu {
    left: auto;
  }
}