{% extends "layouts/base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a class="pull-right" href="./org/login">Looking for volunteers?</a>
    </div>
  </div>
  <div class="row center jumbotron-index">
  </div>
  <br>
  <div class="text-center lead">Connecting Volunteers and Nonprofits</div>
  <br>
  <p class="text-center sign-up-button">
    <a class="btn btn-primary btn-lg" href="./filters" role="button">Get Started</a>
  </p>
</div>
<br>
<br>
<div class="row">
  <div class="text-center lead">How Voluntr Works</div>
</div>
<br>
<div class="row center">
  <div class="text-center col-xs-12 col-md-4">
    <div class="icon-search">
    </div>
    <br>
    <p class="text-center lead">Search For
      <br>Opportunities</p>
  </div>
  <div class="text-center col-xs-12 col-md-4">
    <div class="icon-save">
    </div>
    <br>
    <p class="text-center lead">Save Posts
      <br>That Interest You</p>
  </div>
  <div class="text-center col-xs-12 col-md-4">
    <div class="icon-voluntr">
    </div>
    <br>
    <p class="text-center lead">Voluntr!</p>
  </div>
</div>
{% endblock %}