{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><a class="pull-right" href="./org/login">Looking for volunteers?</a></div>
    </div>
    <div class="row bg-overlay-index">
      <h1>Voluntr</h1>
      <div class="lead">Connecting volunteers and organizations</div>
    </div><br>
    <p class="text-center sign-up-button"><a class="btn btn-primary btn-lg" href="./filters" role="button">Get Started</a></p>
  </div>
{% endblock %} 